$button-color: rgb(11, 99, 230);
$button-alt-color: rgb(90, 92, 95);
$button-warning-color: #FF5C00;
$button-manage-active-color: #1e509b;
$button-manage-alt-color: rgba(120, 123, 129, 0.24);
$button-danger-color: rgb(223, 34, 20);

.button {
  background: $button-color;
  display: inline-block;
  color: white;
  fill: white;
  border-radius: 16px;
  padding: 12px 24px;
  position: relative;
  font-size: 18px;
  letter-spacing: -1px;

  cursor: pointer;
  user-select: none;
  transition: 0.23s background cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.24);

  &:hover {
    background: darken($button-color, 20);
  }

  &:active {
    background: darken($button-color, 30);
  }

  &.roundy {
    border-radius: 32px;
  }

  svg {
    width: 24px;
    height: 24px;
    margin-top: auto;
    margin-bottom: auto;
  }

  &[data-theme='warning'] {
    background: $button-warning-color;

    &:hover {
      background: darken($button-warning-color, 20);
    }

    &:active {
      background: darken($button-warning-color, 30);
    }
  }

  &[data-theme='alt'] {
    background: $button-alt-color;

    &:hover {
      background: darken($button-alt-color, 20);
    }

    &:active {
      background: darken($button-alt-color, 30);
    }
  }

  &[data-theme='manage-alt'] {
    background: $button-manage-alt-color;
    box-shadow: unset;
    color: #000;
    fill: black;

    &:hover {
      background: darken($button-manage-alt-color, 20);
    }

    &:active {
      background: darken($button-manage-alt-color, 30);
    }
  }

  &[data-theme='manage-active'] {
    background: $button-manage-active-color;
    box-shadow: unset;
    color: white;
    fill: white;

    &,
    &:hover,
    &:active {
      background: $button-manage-active-color;
    }
  }

  &[data-theme='danger'] {
    background: $button-danger-color;

    &:hover {
      background: darken($button-danger-color, 20);
    }

    &:active {
      background: darken($button-danger-color, 30);
    }
  }

  &[data-big='true'] {
    font-size: 36px;
    padding: 24px 128px;
    letter-spacing: -2px;
  }

  &[data-disabled='true'] {
    cursor: not-allowed;
    opacity: 0.2;
  }

  text-align: center;
}
