$button-color: rgb(11, 99, 230);
$button-alt-color: rgb(90, 92, 95);

.button {
  background: $button-color;
  display: inline-block;
  color: white;
  border-radius: 16px;
  padding: 12px 24px;
  position: relative;
  font-size: 18px;
  letter-spacing: -1px;

  cursor: pointer;
  user-select: none;
  transition: 0.23s background cubic-bezier(0.19, 1, 0.22, 1);

  &:hover {
    background: darken($button-color, 20);
  }

  &:active {
    background: darken($button-color, 30);
  }

  &[data-theme='alt'] {
    background: $button-alt-color;

    &:hover {
      background: darken($button-alt-color, 20);
    }

    &:active {
      background: darken($button-alt-color, 30);
    }
  }

  &[data-big='true'] {
    font-size: 36px;
    padding: 24px 128px;
    letter-spacing: -4px;
  }

  &[data-disabled='true'] {
    cursor: not-allowed;
    opacity: 0.2;
  }

  text-align: center;
}
