.page-header {
  .title {
    font-weight: bold;
    margin: auto;
    font-size: 42px;
    letter-spacing: -3px;

    margin-bottom: 12px;
  }

  .description {
    font-size: 26px;
    color: rgb(70, 70, 70);
    letter-spacing: -2px;

    margin-top: 0px;
  }
}
