.menu-item {
  position: relative;
  display: flex;
  user-select: none;
  cursor: pointer;

  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.12);
  border-radius: 16px;

  transition: 0.23s background cubic-bezier(0.19, 1, 0.22, 1),
    0.23s transform cubic-bezier(0.19, 1, 0.22, 1);

  &:hover {
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.16);
    transform: scale(0.98);
  }

  &:active {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
    transform: scale(0.96);
  }

  .menu-item-contents {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 22px;
    margin-bottom: 22px;
  }

  .menu-item-image {
    width: 100%;
    border-radius: 16px;
  }

  .menu-item-metadata {
    display: flex;
    flex-direction: column;
    margin: 32px 0px;

    .menu-name,
    .menu-price {
      margin-top: auto;
      margin-bottom: auto;
      font-weight: bold;
    }

    .menu-name {
      font-size: 30px;
      letter-spacing: -2px;
    }

    .menu-price {
      margin-left: 16px;
      font-size: 24px;
      letter-spacing: -2px;
    }

    .shorten {
      display: flex;
    }

    .menu-description {
      font-size: 22px;
      letter-spacing: -2px;
      color: #787b81;

      margin: 0;
      margin-top: 12px;
    }
  }
}
