.auto-close-text {
  margin: auto;
  margin-top: 64px;

  letter-spacing: -2px;
  color: #787b81;
  font-size: 28px;
}

.clerk-contents {
  margin: auto;
  text-align: center;
}

.result-view-contents {
  .button-group {
    margin-top: 16px;
  }
}
