.cart-item {
  position: relative;
  display: flex;
  user-select: none;
  height: 150px;

  border-radius: 16px;

  .cart-item-brief {
    display: flex;
    flex-direction: row;
    margin: auto;

    flex: 8;
  }

  .cart-item-amount {
    display: flex;
    flex: 2;

    & > .amount-selection {
      margin: auto;
    }
  }

  .cart-item-contents {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 100%;
  }

  .cart-item-image-wrapper {
    max-width: 230px;
    height: 150px;
    border-radius: 16px;
    margin-right: 36px;
    display: flex;
  }

  .cart-item-image {
    margin: auto;
    max-width: 230px;
    height: 150px;
    border-radius: 16px;
  }

  .cart-item-metadata {
    display: flex;
    flex-direction: column;
    margin: 32px 0px;

    .menu-name,
    .menu-price {
      margin-top: auto;
      margin-bottom: auto;
      font-weight: bold;
    }

    .menu-name {
      font-size: 30px;
      letter-spacing: -2px;
    }

    .menu-price {
      margin-left: 16px;
      font-size: 24px;
      letter-spacing: -2px;
    }

    .shorten {
      display: flex;
    }

    .menu-description {
      font-size: 22px;
      letter-spacing: -2px;
      color: #787b81;

      margin: 0;
      margin-top: 12px;
    }
  }
}
